{% extends 'profile-layout.html' %}
{% block title %}
    Change Password | {{user.username}}
{% endblock title %}
{% block a.changepass %}current{% endblock a.changepass %}
{% block profile %}
    <h3 class="py-2">Change Password</h3>
    <hr>
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade pb-0 show" role="alert">
            <strong>{% if message.tags == 'error' %}Error{% else %}Success{% endif %}!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <form action="{% url 'ChangePassword' %}" class="px-3" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="curr_password">Current Password</label>
            <input type="password" name="curr_password" id="curr_password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" minlength="8" name="new_password" id="new_password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="renew_password">Confirm New Password</label>
            <input type="password" minlength="8" name="renew_password" id="renew_password" class="form-control" required>
        </div>
        <input type="submit" value="Change Password" class="btn btn-success">
    </form>
{% endblock profile %}