{% extends 'layout.html' %}
{% block title %}
    Checkout | TholeMall
{% endblock title %}
{% block body %}
    <div class="container my-4 d-flex">
        <div class="col-md-8">
        <form action="/checkout/" method="POST">

        {% csrf_token %}
            <!-- Order Summary -->
            <div class="step1 bg-white border " id="step1">
                <h6 class="p-3 alert-primary">
                    <span style="background: rgb(216, 216, 216); padding: 2px 7px; border-radius: 3px; margin-right: 10px;">1</span>
                    ORDER SUMMARY
                </h6>
                {% if ref == "cart" %}    
                    {% for i in prod %}
                        <hr>
                        <div class="cart-product-container" id="{{i.cart_product.id}}">
                            <a href="{% url 'ProductView' i.cart_product.product_slug %}"><img class="product-img" src="/media/{{i.cart_product.product_img}}" alt=""></a>
                            <div class="cart-product-info">
                                <a href="{% url 'ProductView' i.cart_product.product_slug %}"><h5>{{i.cart_product.product_name|slice:":50"}}</h5></a>
                                <p class="price">&#8377;{{i.cart_product.product_price}} <strike class="mrp"> &#8377;{{i.cart_product.product_mrp}} </strike></p>
                                <div class="cart-quantity">
                                    <input type="hidden" name="csrf" value="{{ csrf_token }}">
                                    <button disabled class="btn-decr">-</button>
                                    <span id="quantity">{{i.cart_product_quantity}}</span>
                                    <button max="{{i.cart_product.product_quantity}}" class="btn-incr">+</button>
                                    <a href="" class="remove-prod-from-cart">REMOVE</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for i in prod %}
                        <hr>
                        <div class="cart-product-container" id="{{i.id}}">
                            <input type="hidden" name="buyProduct" value="{{i.id}}">
                            <a href="{% url 'ProductView' i.product_slug %}"><img class="product-img" src="/media/{{i.product_img}}" alt=""></a>
                            <div class="cart-product-info">
                                <a href="{% url 'ProductView' i.product_slug %}"><h5>{{i.product_name|slice:":50"}}</h5></a>
                                <p class="price">&#8377;{{i.product_price}} <strike class="mrp"> &#8377;{{i.product_mrp}} </strike></p>
                                <div class="cart-quantity">
                                    <button type="button" disabled class="btn-decr-prod">-</button>
                                    <input id="quantity" disabled name="quantity" value="1" style="width: 50px;" class="text-center">
                                    <button type="button" max="{{i.product_quantity}}" class="btn-incr-prod">+</button>
                                    <!-- <a href="" class="remove-prod-from-cart">REMOVE</a> -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>


            <!-- Address Option -->
            <div class="step2 my-4" id="step2">
                <div class="bg-white border">
                    <h6 class="p-3 alert-primary">
                        <span style="background: rgb(216, 216, 216); padding: 2px 7px; border-radius: 3px; margin-right: 10px;">2</span>
                        DELIVERY ADDRESS
                    </h6>
                    <ul class="list-group">
                        {% for address in address %}
                            <li class="list-group-item border-0">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="address" id="{{address.id}}" value="{{address.id}}" {% if address.default %}checked{% endif %} required>
                                    <label class="form-check-label" for="address">
                                        <strong>{{address.full_name}} <span style="background: rgb(221, 221, 221); padding: 1px 7px; border-radius: 2px;">{{address.address_type}}</span>&nbsp;&nbsp; {{address.mobile}}</strong>
                                        <p>{{address.address}}, {{address.city}}, {{address.district}},<br>{{address.state}} - {{address.pincode}}</p>
                                    </label>
                                </div>
                            </li>
                            <hr class="m-0 p-0">
                        {% endfor %}
                    </ul>
                </div>

                <div class="bg-white my-2 border">
                    <a href="{% url 'Addresses' %}">
                        <h6 class="p-3 mb-0">
                            <span style="background: rgb(216, 216, 216); padding: 2px 7px; border-radius: 3px; margin-right: 10px;">+</span>
                            ADD NEW ADDRESS
                        </h6>
                    </a>
                </div>
            </div>

            <!-- Payment option -->
            <div class="step3 bg-white my-4 border" id="step3">
                <h6 class="p-3 alert-primary">
                    <span style="background: rgb(216, 216, 216); padding: 2px 7px; border-radius: 3px; margin-right: 10px;">3</span>
                    PAYMENT OPTIONS
                </h6>
                <ul class="list-group">
                    <li class="list-group-item border-top-0 border-left-0 border-right-0">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment" id="payment" value="UPI" required>
                            <label class="form-check-label" for="upi">
                                UPI
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item border-left-0 border-right-0">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment" id="payment" value="PayTM" required>
                            <label class="form-check-label" for="paytm">
                                PayTM
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item border-left-0 border-right-0">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment" id="payment" value="Debit / Credit Card" required>
                            <label class="form-check-label" for="debit-credit-card">
                                Debit / Credit Card
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item border-left-0 border-right-0">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment" id="payment" value="Net Banking" required>
                            <label class="form-check-label" for="net-banking">
                                Net Banking
                            </label>
                        </div>
                    </li>
                </ul>
                <input type="submit" name={{ref}} value="Place Order" class="w-100 my-3 btn btn-success">
            </div>
        </form>
        </div>

        <div class="col-md-4 px-2">
            <div class="bg-white border p-2" id="prodDetails">
                <h4>Price Details</h4>
                <hr>
                <div class="charge-row">
                    <label for="subtotal">Subtotal</label>
                    <p name="subtotal" class="subtotal">&#8377;5000</p>
                </div>
                <div class="charge-row">
                    <label for="discount">Discount</label>
                    <p name="discount" class="discount text-success">-&#8377;5000</p>
                </div>
                <div class="charge-row">
                    <label for="shipping">Shipping</label>
                    <p name="shipping" class="shipping">&#8377;5000</p>
                </div>
                <hr>
                <div class="charge-row total">
                    <label for="total">Total Amount:</label>
                    <p name="total" class="totalamt">&#8377;5000</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}