{% extends 'profile-layout.html' %}
{% block title %}
    Profile | {{user.username}}
{% endblock title %}
{% block a.profile %}current{% endblock a.profile %}
{% block profile %}
<h4>Personal Information</h4>
<hr>
{% for message in messages %}
<div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade pb-0 show" role="alert">
    <strong>{% if message.tags == 'error' %}Error{% else %}Success{% endif %}!</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<form action="{% url 'Profile' %}" method="post" class="p-3">
    {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first_name" value="{{userinfo.first_name}}" required>
                </div>
                <div class="col">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last_name" value="{{userinfo.last_name}}">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" class="form-control" value="{{userinfo.email}}" required>
        </div>
        
        <div class="form-group">
            <label for="mobile">Mobile Number:</label>
            <input type="tel" class="form-control" name="mobile" id="mobile" value="{{userinfo.mobile}}" required>
        </div>
        <input type="submit" value="Update Profile" class="btn btn-success float-right">
    </form>
{% endblock profile %}